.rating-input {
  display: flex;
  justify-content: center;
  column-gap: 4px;
  button {
    flex-shrink: 0;
  }
  &__emoji {
    opacity: 0.3;
    transition: 0.2s ease;
    &--active {
      opacity: 1;
    }
  }
}