.anitrack {
  display: grid;
  gap: 16px;

  &__title {
    text-align: center;
  }
  &__list {
    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 16px;
      margin: 0;
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__view-controls {
    display: flex;
    justify-content: end;
    gap: 6px;
  }
}