.anitrack {
  display: grid;
  gap: 16px;

  &__header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-bottom: 20px;

    > button {
      grid-column: 3;
      justify-self: end;
    }
  }

  &__title {
    grid-column: 2;
    margin: 0;
  }

  &__list {
    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 16px;
      margin: 0;
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__controls-panel {
    display: grid;
    row-gap: 16px;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      > * {
        flex: 1;
      }
    }

    &-wrap {
      display: flex;
      gap: 16px;
      align-items: center;
    }
    &-view {
      flex-shrink: 0;
      display: flex;
      justify-content: end;
      gap: 6px;
      button {
        flex-shrink: 0;
      }
    }
  }

  &__counter {
    font-size: 12px;
    margin-block: 8px 0;
  }

  @media(max-width: 768px) {
    &__header {
      margin-bottom: 10px;
      > button {
        position: fixed;
        z-index: 180;
        bottom: 30px;
        right: 30px;
        height: 40px;
        width: 40px;
        span {
          display: none;
        }
      }
    }

    &__list {
      &--grid {
        grid-template-columns: 1fr;
        gap: 8px;
      }

      &--list {
        gap: 8px;
      }
    }
  }
}