.upload-area {
  position: relative;
  border: 2px dashed #ccc;
  border-radius: var(--radius);
  min-height: 70px;
  padding: 10px;
  text-align: center;
  cursor: pointer;

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    &--dragging {
      border-color: var(--color-accent);
      background: rgba(255, 192, 203, 0.15);
    }
  }

  &__preview {
    width: 200px;
    height: auto;
    object-fit: contain;
    border-radius: var(--radius);
  }
  
  &__remove {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
  }

  @media(max-width: 768px) {
    padding: 10px;
    &__remove {
      right: 0px;
      top: 5px;
    }
  }
}